.iu-container {
    position: relative;
    text-align: center;
    border: 1px solid #dddddd;
    min-height: 144px;
}

.iu-button {
    position: absolute;
    top: 40px;
    left: 10%;
    display: block;
    width: 80%;
    text-align: center;
}

.iu-container a {
    position: absolute;
    top: 60%;
    left: 10%;
    display: block;
    width: 80%;
}

a.iu-delete,
a.iu-delete:hover {
    color: #fff;
}

.iu-button input {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.iu-button {
    display:inline-block;
    padding:6px 24px;
    border:1px solid #dcdcdc;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background-color:#ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    color:#666666;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    font-weight:bold;
    font-size:15px;
    font-family:arial;
}

.iu-button:hover {
    background-color:#f6f6f6;
}


.iu-delete {
    display:inline-block;
    padding:6px 24px;
    height: 30px;
    border:1px solid #942911;
    border-radius:3px;
    background-color:#d0451b;
    color:#ffffff;
    text-decoration:none;
    font-weight:normal;
    font-size:13px;
    line-height: 15px;
}

.iu-delete:hover {
    background-color:#bc3315;
}

.iu-progress-bar-container {
    height: 3px;
}

.iu-progress-bar {
    position: absolute;
    bottom: 3px;
    height: 3px;
    background-color: #207cff;
}
